@keyframes slideInFromTop {
    0% {
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    100% {
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInFromLeft {
    0% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    0% {
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomOut {
    0% {
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        -ms-transform: scale(0);
        -o-transform: scale(0);
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes moveUpDown {
    0%, 100% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
}

@keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes moveToRight {
    0% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    50% {
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes moveToBottom {
    0% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
    50% {
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }
    100% {
        -ms-transform: translateY(-10%);
        -o-transform: translateY(-10%);
        -moz-transform: translateY(-10%);
        -webkit-transform: translateY(-10%);
        transform: translateY(-10%);
    }
}