.main {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.main::before {
    content: '';
    width:100%;
    height:100%;
    position: absolute;
    background: url('../../images/bck-img.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    transform: scale(1.1);
}

.loginPanel {
    width: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginHeader {
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: #122A3B;
    overflow: hidden;
}

.loginHeaderLeft,
.loginHeaderRight {
    height: 100%;
}

.loginHeaderLeft {
    align-items: center;
}

.loginHeaderLeft img {
    padding: 10px;
    max-width: 25vh;
}

.loginHeaderRight button {
    background-color: #5683FE;
    color: #ffffff;
    border: none;
    cursor: pointer;
    height: 100%;
    display: block;
    padding: 0 25px;
}

.loginHeaderRight button:hover,
.loginHeaderRight button:focus,
.loginHeaderRight button:active {
    transition: .3s;
    background-color: chocolate;
}

.loginContent {
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    padding: 1.875vh 0;
    color: #000;
    overflow: hidden;
}

.form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formPanel {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.form input {
    margin: 10px;
    width: 250px;
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: 0 0 0 30px #ffffff inset;
}

.form input {
    border-bottom: 1px solid #cccccc;
}

.loginContentHeader {
    color: rgba(0,0,0,0.5);
}

.loginContentFooter button {
    padding: 1.2vh 1.875vw;
    background-color: #5683FE;
    color: #ffffff;
    border: none;
    cursor: pointer;
    height: 100%;
    display: block;
}

.loginContentFooter button:hover,
.loginContentFooter button:focus,
.loginContentFooter button:active {
    transition: .3s;
    background-color: chocolate;
}

@media screen and (max-width: 992px) {

    .loginPanel {
        width: 450px;
    }

    .loginHeader {
        height: 65px;
    }

    .loginHeaderRight button {
        padding: 0 20px;
    }

    .loginContent {
        height: 250px;
    }

    .form input {
        width: 190px;
    }

}

@media screen and (max-width: 600px) {

    .loginPanel {
        width: 300px;
    }

    .loginHeader {
        height: auto;
        flex-direction: column;
    }

    .loginHeaderRight {
        width: 100%;
    }

    .loginHeaderRight button {
        height: 30px;
        width: 100%;
    }

    .loginContent {
        height: auto;
    }

    .form input {
        width: 120px;
    }

}
