@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}

body.open-modal {
    overflow: hidden;
}

#body.scroll {
    overflow: hidden;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    display: block;
    outline: none;
    color: #fff;
}

input {
    width: 100%;
}

/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

h1 {font-size: 2.25em;}
h2 {font-size: 1.8125em;}
h3 {font-size: 1.4375em;}
h4 {font-size: 1.125em;}
h5 {font-size: 0.875em;}
h6 {font-size: 0.6875em;}

@media screen and (max-width: 992px) {

    h1 {font-size: 1.8125em;}
    h2 {font-size: 1.4375em;}
    h3 {font-size: 1.125em;}
    h4 {font-size: 0.875em;}
    h5 {font-size: 0.6875em}
    h6 {font-size: 0.5625em;}

}

@media screen and (max-width: 600px) {

    h1 {font-size: 1.4375em;}
    h2 {font-size: 1.125em;}
    h3 {font-size: 0.875em;}
    h4 {font-size: 0.6875em;}
    h5 {font-size: 0.5625em}
    h6 {font-size: 0.5em;}

    /*#body.scroll {*/
    /*    overflow: hidden;*/
    /*}*/

}