.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    -ms-animation: fadeIn 0.3s none;
    -o-animation: fadeIn 0.3s none;
    -moz-animation: fadeIn 0.3s none;
    -webkit-animation: fadeIn 0.3s none;
    animation: fadeIn 0.3s none;
}

.modalContent {
    width: 90%;
    height: 90%;
    background-color: #fff;
    position: relative;
    color: #000;
    overflow-y: auto;
    overflow-x: hidden;
}

.modalContent .close {
    outline: none;
    background: none;
    border: none;
    font-size: 1.875em;
    cursor: pointer;
    color: darkred;
}

.modalHeaderMiddleRightItem {
    align-items: center;
    height: 24px;
}

.modalContainer {
    width: 100%;
    height: 100%;
}

.modalHeader .modalHeaderTop {
    padding: 50px 20px;
    justify-content: space-between;
}

.modalHeaderMiddle {
    justify-content: space-between;
}

.modalHeaderMiddleLeft,
.modalHeaderMiddleRight {
    padding: 0 20px;
}

.modalHeaderMiddleLeftItems:not(:first-child) {
    padding-top: 5px;
}

.modalHeaderMiddleLeftItemLeft {
    width: 120px;
    display: flex;
    align-items: center;
}

.modalHeaderMiddleRightItemsTop,
.modalMiddleTopMiddleRightItemsLeft {
    padding-right: 5px;
}

#cari_anbar {
    width: 50px;
    border-right: none;
}

.modal input {
    border: 1px solid rgba(0,0,0,0.4);
    height: 24px;
    width: 100%;
}

.modalMiddle {
    padding: 15px 20px;
}

.modalMiddleTopMiddle {
    justify-content: space-between;
}

.modalMiddleTopMiddleRightItems {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.modalMiddleTopMiddleRightItems a {
    color: #2b87cc;
    text-decoration: underline;
}

.modalMiddleTopMiddleRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalMiddleTopMiddleRight .modalMiddleTopMiddleRightItemsLeft {
    color: darkred;
}

.modalMiddleTopHeader,
.modalMiddleTopFooter,
.modalMiddleTopMiddleRightItems {
    align-items: center;
}

.modalMiddleTopMiddleLeftItemsLeft,
.modalMiddleTopMiddle2LeftItemsLeft,
.modalMiddleTopMiddle2RightItemsLeft,
.modalMiddleTopHeaderLeft h5,
.modalMiddleTopFooterLeft h5 {
    width: 120px;
}

.modalMiddleTopMiddleLeftItems,
.modalMiddleTopFooter,
.modalMiddleTopMiddle2LeftItems,
.modalMiddleTopMiddle2RightItems {
    padding-top: 5px;
}

.modalMiddleTopMiddleLeftItemsLeft,
.modalMiddleTopMiddle2LeftItemsLeft,
.modalMiddleTopMiddle2RightItemsLeft {
    display: flex;
    align-items: center;
}

.modalMiddleTopMiddle2 {
    margin: 10px 0;
    justify-content: space-between;
}

.modalFooterRight {
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px 5px 20px;
}

.modalFooterRightItem {
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 5px;
    margin: 0 0 5px;
    justify-content: flex-start;
    width: 150px;
}


.modalFooterRightItem:hover,
.modalFooterRightItem:focus,
.modalFooterRightItem:active {
    background-color: darkgrey;
    color: #fff;
}

.modalFooterRightItem:last-child {
    margin-left: 10px;
}

.modalFooterRightItem .modalFooterRightItemRight {
    padding-left: 5px;
}

.modalFooterRightItem img {
    max-width: 22px;
}

.modalMiddle input {
    text-align: right;
}

#yekun {
    background-color: #fee3c2;
}

.modal input[type=text] {
    text-align: left;
}

@media screen and (max-width: 992px) {

    .modalHeader .modalHeaderTop {
        text-align: center;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0;
    }

    .modalHeaderMiddleRightItem {
        align-items: center;
        height: auto;
    }

    .modalHeaderTop button {
        order: -1;
        padding-bottom: 20px;
    }

    .modalMiddleTopHeaderLeft,
    .modalMiddleTopFooterLeft {
        text-align: center;
    }

    .modalHeaderMiddleLeftItemLeft,
    .modalMiddleTopMiddleLeftItemsLeft,
    .modalMiddleTopMiddle2LeftItemsLeft,
    .modalMiddleTopMiddle2RightItemsLeft {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    .modalHeaderMiddle,
    .modalHeaderMiddleLeftItems,
    .modalHeaderMiddleRight,
    .modalMiddleTopHeader,
    .modalMiddleTopMiddle,
    .modalMiddleTopMiddleLeftItems,
    .modalMiddleTopMiddleRightItems,
    .modalMiddleTopMiddle2,
    .modalMiddleTopMiddle2LeftItems,
    .modalMiddleTopMiddle2RightItems,
    .modalMiddleTopFooter,
    .modalFooterRight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .modalHeaderMiddleRightItemsTop {
        padding: 10px 0;
    }

    #merkezi_anbar {
        width: 131px;
    }

    .modalMiddleTopMiddleLeftItems:first-child .modalMiddleTopMiddleLeftItemsLeft,
    .modalMiddleTopMiddle2RightItems:first-child .modalMiddleTopMiddle2RightItemsLeft {
        padding-top: 5px;
    }

    .modalMiddleTopMiddleRightItemsLeft{
        padding: 5px 0;
    }

    .modalMiddleTopMiddle2 {
        margin: 5px 0;
    }

    .modalFooterRightItem:last-child{
        margin: 0;
    }

    .modalFooter .modalFooterRightItem {
        width: 120px;
        justify-content: center;
    }

    .modalMiddleTopFooterLeft {
        padding-bottom: 5px;
    }


    .modalFooterRightItem:first-child {
        margin-top: 0;
    }

    .modalFooterRightItem:last-child {
        margin: 5px 0;
    }

    .modal input[type=number] {
        text-align: center;
    }

}
