.container {
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    color: #000000;
    overflow: hidden;
}

.wrapperHeader .wrapperHeaderTop {
    padding: 10px 20px 5px;
}

.wrapperHeader .wrapperHeaderMiddleLeft {
    padding: 0 15px;
    flex-wrap: wrap;
}

.wrapperHeader .wrapperHeaderMiddle {
    align-items: center;
}

.wrapperHeader .wrapperHeaderMiddleRight {
    padding: 0 10px;
}

.wrapperHeader .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.2);
}

input {
    border: 1px solid rgba(0,0,0,0.4);
}

input,
select {
    height: 24px;
}

.wrapperHeader .item:hover,
.wrapperHeader .item:focus,
.wrapperHeader .item:active {
    transition: .3s;
    background-color: darkgrey;
    color: #fff;
}

.wrapperHeader .itemBottom {
    padding-top: 5px;
}

.wrapperHeader .wrapperHeaderBottom {
    padding: 5px 20px 15px;
}

.wrapperHeader .wrapperHeaderBottomBottomItems {
    flex-direction: column;
}

.wrapperHeader .wrapperHeaderBottomBottomItems:not(:first-child) {
    margin-left: 10px;
}

.wrapperHeader .wrapperHeaderBottomBottomItem {
    padding-top: 5px;
}

.wrapperHeader .wrapperHeaderBottomBottomItem select {
    cursor: pointer;
    background-color: #2b87cc;
    color: #ffffff;
}

.wrapperHeader .wrapperHeaderMiddleRight label {
    cursor: text;
}

.wrapperHeader .wrapperHeaderMiddleRightLeft,
.wrapperHeader .wrapperHeaderMiddleRightRight {
    align-items: center;
}

.wrapperHeader .wrapperHeaderMiddleRightLeftLeft {
    color: darkred;
    padding: 5px 10px;
}

#dateOne,
#dateTwo {
    width: auto;
    margin: 10px;
}

.wrapperMiddle {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 63vh;
    margin: 0 20px;
}

.wrapperFooter {
    padding: 15px 20px;
}

.wrapperFooter .wrapperFooterLeftItem input {
    text-align: right;
}

.wrapperFooter .wrapperFooterLeftItem:not(:first-child) {
    padding-top: 5px;
}

.wrapperFooter .wrapperFooterLeftItemLeft,
.wrapperFooter .wrapperFooterRightItemLeft {
    width: 150px;
}

.wrapperFooter .wrapperFooterRight {
    padding: 0 20px;
}

.wrapperFooter .wrapperFooterRightItem input {
    text-align: right;
}

.wrapperFooter .wrapperFooterRightItem:not(:first-child) {
    padding-top: 5px;
}

@media screen and (max-width: 992px) {

    .wrapperHeader .wrapperHeaderMiddle {
        align-items: center;
        flex-direction: column;
    }

    .wrapperHeader .wrapperHeaderMiddleLeft {
        justify-content: center;
    }

    .wrapperHeader .wrapperHeaderMiddleRight {
        flex-direction: column;
    }

    .wrapperHeader .wrapperHeaderMiddleRightLeft,
    .wrapperHeader .wrapperHeaderMiddleRightRight {
        flex-direction: column;
    }

    .wrapperHeader #dateOne,
    .wrapperHeader #dateTwo {
        margin: 2px;
    }

    .wrapperHeader .wrapperHeaderTop {
        text-align: center;
    }

    .wrapperHeader .wrapperHeaderBottom {
        flex-direction: column;
        align-items: center;
    }

    .wrapperHeader .wrapperHeaderBottomBottomTop {
        text-align: center;
    }

    .wrapperHeader .wrapperHeaderBottomBottomItems:not(:first-child) {
        padding-top: 5px;
        margin-left: 0;
    }

    .wrapperHeader .wrapperHeaderMiddleRightLeftLeft{
        padding: 5px 0;
    }

    .wrapperFooter {
        flex-direction: column;
        align-items: center;
    }

    .wrapperFooter .wrapperFooterLeftItem,
    .wrapperFooter .wrapperFooterRightItem {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .wrapperFooter .wrapperFooterRightItem:first-child {
        padding-top: 10px;
    }

    .wrapperFooter .wrapperFooterLeftItem:first-child .wrapperFooterLeftItemLeft {
        padding-top: 0;
    }

    .wrapperFooter .wrapperFooterLeftItemLeft,
    .wrapperFooter .wrapperFooterRightItemLeft{
        padding: 5px 0;
    }

    .wrapperFooter .wrapperFooterLeftItem input,
    .wrapperFooter .wrapperFooterRightItem input {
        text-align: center;
    }

    .wrapperFooter .wrapperFooterLeftItemLeft,
    .wrapperFooter .wrapperFooterRightItemLeft {
        width: auto;
    }

    .wrapperFooter .wrapperFooterRight {
        padding: 0;
    }

    .wrapperFooter .wrapperFooterRightItem:not(:first-child),
    .wrapperFooter .wrapperFooterLeftItem:not(:first-child) {
        padding-top: 0;
    }

}