.container {
    max-width: 1400px;
    margin: 0 auto;
}

.wrapper {
    color: #000000;
    overflow: hidden;
}

.wrapperHeader .wrapperHeaderTop {
    padding: 10px 20px;
}

.wrapperHeader .wrapperHeaderBottomLeft {
    padding: 0 15px;
    flex-wrap: wrap;
}

.wrapperHeader .wrapperHeaderBottomRight {
    padding: 10px;
    align-items: center;
}

.wrapperHeader .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0,0,0,0.2);
    overflow: hidden;
}

.wrapperHeader .item:hover,
.wrapperHeader .item:focus,
.wrapperHeader .item:active {
    transition: .3s;
    background-color: darkgrey;
    color: #fff;
}

.wrapperHeader .itemBottom {
    padding-top: 5px;
}

.wrapperHeaderMiddle {
    padding: 0 20px;
}

.wrapperHeaderBottom {
    padding: 10px 0;
    flex-wrap: wrap;
}

input{
    width: 100%;
    height: 24px;
}

.wrapperHeaderMiddleMiddleContent,
.wrapperHeaderMiddleMiddle,
.wrapperHeaderMiddleMiddle2 {
    padding-left: 20px;
}

.wrapperHeaderMiddleRight {
    padding-left: 40px;
}

.wrapperHeaderMiddleMiddle2 {
    padding-top: 5px;
}

.wrapperHeaderMiddleCenterLeft,
.wrapperHeaderMiddleLeftLeft {
    display: flex;
    align-items: center;
}

.wrapperHeaderMiddleLeftItems:not(:first-child),
.wrapperHeaderMiddleCenterItems:not(:first-child),
.wrapperHeaderMiddleRightItems:not(:first-child) {
    padding-top: 5px;
}

.wrapperHeaderMiddleLeftRightLeft input {
    width: 50px;
    border: 1px solid rgba(0,0,0,0.4);
    border-right: none;
}

.wrapperHeader .wrapperHeaderMiddleLeftLeft h5,
.wrapperHeader .wrapperHeaderMiddleCenterLeft h5,
.wrapperHeaderMiddleMiddle2Center h5 {
    width: 120px;
}

.wrapperHeader .wrapperHeaderMiddleRightLeft{
    width: 120px;
    display: flex;
    align-items: center;
}

.wrapperHeaderMiddleMiddle2Center {
    display: flex;
    align-items: center;
}

.wrapperMiddle {
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 63vh;
    margin: 0 20px;
}

.wrapperHeaderBottomRightItem {
    align-items: center;
    padding: 0 5px;
}

input {
    border: 1px solid rgba(0,0,0,0.4);
}

input[type="checkbox"],
input[type="radio"]{
    display: inline;
    width: auto;
}

input[type="radio"]{
    margin-top: 5px;
}

.wrapperHeaderBottomRightItemRightLeft:last-child input {
    margin-left: 5px;
}

.wrapperHeaderBottomRightItemRight select{
    width: 150px;
    background-color: royalblue;
    color: #fff;
    height: 24px;
}

.wrapperHeaderBottomRightItemLeft {
    padding: 0 5px;
    align-items: center;
}

.wrapperHeaderBottomRightItemRight {
    display: flex;
    align-items: center;
}

.wrapperHeaderBottomRightItemRightLeft {
    align-items: center;
}

.wrapperHeaderBottomRightItemRightLeftRight {
    padding: 0 5px;
}

.wrapperHeaderBottomRightItem:last-child {
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 0;
    margin: 0 5px;
}

.wrapperHeaderBottomRightItem:last-child:hover,
.wrapperHeaderBottomRightItem:last-child:focus,
.wrapperHeaderBottomRightItem:last-child:active {
    background-color: darkgrey;
    color: #fff;
}

.wrapperHeaderBottomRightItem:last-child {
    margin: 0 20px;
}

.wrapperHeaderBottomRightItem:last-child .wrapperHeaderBottomRightItemLeftRight {
    padding: 0 5px;
}

.wrapperHeaderBottomRightItem:last-child .wrapperHeaderBottomRightItemLeft {
    padding: 5px;
}

.wrapperHeaderBottomBottom2 {
    padding: 0 20px 15px;
}

.wrapperHeaderBottomBottom2Top {
    align-items: center;
}

.wrapperHeaderBottomBottom2TopLeft {
    margin-right: 10px;
}

.wrapperHeaderBottomBottom2TopCenter input {
    width: 100px;
    text-align: right;
}

.wrapperHeaderBottomBottom2TopRight {
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    padding: 3px 8px 3px 3px;
    margin: 0 10px;
    cursor: pointer;
}

.wrapperHeaderBottomBottom2TopRight:hover,
.wrapperHeaderBottomBottom2TopRight:focus,
.wrapperHeaderBottomBottom2TopRight:active {
    background-color: darkgrey;
    color: #fff;
}

.wrapperHeaderBottomBottom2BottomItem {
    padding-top: 15px;
}

.wrapperFooter {
    flex-wrap: wrap;
}

.wrapperFooterLeft {
    padding: 10px 20px;
}

.wrapperFooterLeftLeft {
    display: flex;
    align-items: center;
    width: 200px;
}

.wrapperFooterLeftItems {
    padding-top: 5px;
}

.wrapperFooterCenterLeftItemsTop {
    align-items: center;
}

.wrapperFooterCenterLeftItems {
    padding-top: 15px;
}

.wrapperFooterCenterLeftItemsBottom {
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.wrapperFooterCenterLeftItem {
    padding: 0 5px;
    display: flex;
    align-items: center;
}

.wrapperFooter input {
    width: 100px;
    text-align: right;
}

#input22 {
    width: auto;
    margin-top: 5px;
}

#input27 {
    width: 100%;
}

.wrapperFooterCenterLeftItem:first-child {
    color: darkred;
}

.wrapperFooterCenterLeftItemsBottomLeftTop {
    padding: 5px 0;
}

.wrapperFooterCenterLeftItemsBottomLeft,
.wrapperFooterCenterLeftItemsBottomRight {
    padding: 0 5px;
}

.wrapperFooterCenterLeftItemsBottomLeftTopCenter {
    display: flex;
    align-items: center;
    padding: 0 5px;
}

.wrapperFooter button {
    cursor: pointer;
}

.wrapperFooterCenterRight {
    padding: 10px 20px 0;
}

.wrapperFooterCenterRightItems {
    padding: 3px 0;
}

.wrapperFooterCenterLeft {
    padding: 0 5px 0 10px;
}

.wrapperFooterRight {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px 5px 20px;
}

.wrapperFooterRightItem {
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 5px;
    margin: 5px 0;
    justify-content: flex-start;
    width: 150px;
}

.wrapperFooterRightItem:hover,
.wrapperFooterRightItem:focus,
.wrapperFooterRightItem:active {
    background-color: darkgrey;
    color: #fff;
}

.wrapperFooterRightItem .wrapperFooterRightItemRight {
    padding-left: 5px;
}

.wrapperFooterRightItem img {
    max-width: 22px;
}

.params {
    align-items: center;
    padding-left: 5px;
}

@media screen and (max-width: 992px) {

    .wrapperHeaderTop,
    .wrapperHeaderMiddleLeftLeft,
    .wrapperHeaderMiddleCenterLeft,
    .wrapperHeaderMiddleMiddle2Center {
        text-align: center;
    }

    .wrapperHeader .wrapperHeaderMiddle {
        flex-direction: column;
        align-items: center;
    }

    .wrapperHeader .wrapperHeaderMiddleLeftItems input,
    #input1,
    .wrapperHeaderMiddleMiddle {
        width: 100%;
    }

    .wrapperHeader .wrapperHeaderMiddleLeftRightLeft input {
        width: 50px;
    }

    .wrapperHeader .wrapperHeaderMiddleLeftRightRight input {
        width: 131px;
    }

    .wrapperHeader .wrapperHeaderMiddleLeftItems,
    .wrapperHeader .wrapperHeaderMiddleCenterItems,
    .wrapperHeader .wrapperHeaderMiddleRightItems {
        flex-direction: column;
        align-items: center;
    }

    .wrapperHeader .wrapperHeaderMiddleCenter {
        padding: 10px 0;
    }

    .wrapperHeader .wrapperHeaderMiddleLeftLeft,
    .wrapperHeader .wrapperHeaderMiddleCenterLeft,
    .wrapperHeader .wrapperHeaderMiddleRightLeft {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    .wrapperHeader .wrapperHeaderBottom,
    .wrapperHeaderMiddleMiddleContent,
    .wrapperHeaderMiddleMiddle2 {
        flex-direction: column;
        align-items: center;
    }

    .wrapperHeaderMiddleMiddleContent,
    .wrapperHeaderMiddleMiddle,
    .wrapperHeaderMiddleRight,
    .wrapperHeaderMiddleMiddle2 {
        padding: 0;
    }

    .wrapperHeader .wrapperHeaderBottomLeft{
        justify-content: center;
    }

    .wrapperHeader .wrapperHeaderBottomRightItems,
    .wrapperHeader .wrapperHeaderBottomBottom2Top {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapperHeader .wrapperHeaderBottomBottom2TopRight {
        margin-top: 5px;
    }

    .wrapperHeaderBottomRightItem:first-child .wrapperHeaderBottomRightItemRight {
        order: -1;
    }

    .wrapperHeaderBottomRightItem{
        flex-direction: column;
    }

    .wrapperHeaderBottomRightItem:nth-child(3) {
        padding-bottom: 10px;
    }

    #input22,
    .wrapperHeaderBottomBottom2TopLeft {
        margin: 0;
    }

    .wrapperFooter {
        margin: 0 auto;
        flex-direction: column;
    }

    .wrapperFooter .wrapperFooterCenterLeftItemsTop,
    .wrapperFooter .wrapperFooterCenterLeftItemsBottom {
        flex-direction: column;
    }

    .wrapperFooter .wrapperFooterLeftLeft {
        justify-content: center;
    }

    #input14 {
        width: 100%;
        text-align: center;
    }

    .wrapperHeaderMiddleMiddle2Center {
        padding: 10px 0 5px;
    }

    .wrapperFooter .wrapperFooterLeftItems,
    .wrapperFooter .wrapperFooterCenter,
    .wrapperFooter .wrapperFooterCenterRightItems {
        align-items: center;
        flex-direction: column;
    }

    .wrapperFooter .wrapperFooterRightItem {
        width: 120px;
        justify-content: center;
    }

    .wrapperFooter input {
        width: 100%;
    }

    .params,
    .wrapperFooter .wrapperFooterCenterLeftItems,
    .wrapperHeader .wrapperHeaderBottomRightItems {
        padding: 0;
    }

    .wrapperFooter .wrapperFooterCenterRightItems input {
        margin: 5px 0;
    }

    .wrapperFooter .wrapperFooterCenterLeftItemsBottomRight button {
        margin-top: 5px;
    }

    .wrapperFooter .wrapperFooterCenterLeftItem button{
        margin-bottom: 5px;
    }

    .wrapperFooter .wrapperFooterCenterLeftItemsBottom,
    .wrapperFooter .wrapperFooterLeft .params {
        padding-top: 5px;
    }

    .wrapperFooter .wrapperFooterCenterLeftItem:first-child,
    .wrapperFooter .wrapperFooterLeft .wrapperFooterLeftLeft,
    .wrapperFooter .wrapperFooterCenterRightItems:last-child .params,
    .wrapperHeader .wrapperHeaderBottomBottom2TopLeft,
    .wrapperHeader .wrapperHeaderBottomRightItem:nth-child(3) .wrapperHeaderBottomRightItemLeft {
        padding-bottom: 5px;
    }

    .wrapperFooter  .wrapperFooterCenterLeftItemsBottomLeft {
        padding: 0 20px;
    }

    input[type=number] {
        text-align: center;
    }

    #input2,
    #input4 {
        text-align: left;
    }

    #input11 {
        margin-top: 3px;
    }

}