.wrapper {
    color: #000000;
    overflow: hidden;
}

.wrapperHeader .wrapperHeaderTop {
    padding: 10px 20px;
}

.wrapperHeaderMiddleLeft {
    padding: 0 20px;
}

.wrapperHeaderMiddleLeftItems:not(:first-child) {
    padding-top: 5px;
}

.wrapperHeaderMiddleLeftItemLeft {
    width: 120px;
    display: flex;
    align-items: center;
}

.wrapperHeaderMiddleRight {
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.wrapperHeaderMiddleRightItemsTop,
.wrapperMiddleTopMiddleRightItemsLeft {
    padding-right: 5px;
}

#input4 {
    width: 50px;
    border-right: none;
}

input {
    border: 1px solid rgba(0,0,0,0.4);
    height: 24px;
    width: 100%;
}

.wrapperMiddle {
    padding: 15px 20px;
}

.wrapperMiddleTopMiddle {
    justify-content: space-between;
}

.wrapperMiddleTopMiddleRightItems {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
}

.wrapperMiddleTopMiddleRightItems a {
    color: #2b87cc;
    text-decoration: underline;
}

.wrapperMiddleTopMiddleRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapperMiddleTopMiddleRight .wrapperMiddleTopMiddleRightItemsLeft {
    color: darkred;
}

.wrapperMiddleTopHeader,
.wrapperMiddleTopFooter,
.wrapperMiddleTopMiddleRightItems {
    align-items: center;
}

.wrapperMiddleTopMiddleLeftItemsLeft,
.wrapperMiddleTopMiddle2LeftItemsLeft,
.wrapperMiddleTopMiddle2RightItemsLeft,
.wrapperMiddleTopHeaderLeft h5,
.wrapperMiddleTopFooterLeft h5 {
    width: 120px;
}

.wrapperMiddleTopMiddleLeftItems,
.wrapperMiddleTopFooter,
.wrapperMiddleTopMiddle2LeftItems,
.wrapperMiddleTopMiddle2RightItems {
    padding-top: 5px;
}

.wrapperMiddleTopMiddleLeftItemsLeft,
.wrapperMiddleTopMiddle2LeftItemsLeft,
.wrapperMiddleTopMiddle2RightItemsLeft {
    display: flex;
    align-items: center;
}

.wrapperMiddleTopMiddle2 {
    margin: 10px 0;
    justify-content: space-between;
}

.wrapperFooterRight {
    justify-content: flex-end;
    align-items: center;
    margin: 0 20px 5px 20px;
}

.wrapperFooterRightItem {
    align-items: center;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 5px;
    margin: 0 0 5px;
    justify-content: flex-start;
    width: 150px;
}

.wrapperFooterRightItem:hover,
.wrapperFooterRightItem:focus,
.wrapperFooterRightItem:active {
    background-color: darkgrey;
    color: #fff;
}

.wrapperFooterRightItem:last-child {
    margin-left: 10px;
}

.wrapperFooterRightItem .wrapperFooterRightItemRight {
    padding-left: 5px;
}

.wrapperFooterRightItem img {
    max-width: 22px;
}

.wrapperMiddle input {
    text-align: right;
}

#input15 {
    background-color: #fee3c2;
}

input[type=text] {
    text-align: left;
}

@media screen and (max-width: 992px) {

    .wrapperHeaderTop,
    .wrapperMiddleTopHeaderLeft,
    .wrapperMiddleTopFooterLeft {
        text-align: center;
    }

    .wrapperHeaderMiddleLeftItemLeft,
    .wrapperMiddleTopMiddleLeftItemsLeft,
    .wrapperMiddleTopMiddle2LeftItemsLeft,
    .wrapperMiddleTopMiddle2RightItemsLeft {
        display: flex;
        justify-content: center;
        padding-bottom: 5px;
    }

    .wrapperHeaderMiddle,
    .wrapperHeaderMiddleLeftItems,
    .wrapperHeaderMiddleRight,
    .wrapperMiddleTopHeader,
    .wrapperMiddleTopMiddle,
    .wrapperMiddleTopMiddleLeftItems,
    .wrapperMiddleTopMiddleRightItems,
    .wrapperMiddleTopMiddle2,
    .wrapperMiddleTopMiddle2LeftItems,
    .wrapperMiddleTopMiddle2RightItems,
    .wrapperMiddleTopFooter,
    .wrapperFooterRight {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .wrapperHeaderMiddleRightItemsTop {
        padding: 10px 0 5px;
    }

    #input5 {
        width: 131px;
    }

    .wrapperMiddleTopMiddleLeftItems:first-child .wrapperMiddleTopMiddleLeftItemsLeft,
    .wrapperMiddleTopMiddle2RightItems:first-child .wrapperMiddleTopMiddle2RightItemsLeft {
        padding-top: 5px;
    }

    .wrapperMiddleTopMiddleRightItemsLeft{
        padding: 5px 0;
    }

    .wrapperMiddleTopMiddle2 {
        margin: 5px 0;
    }

    .wrapperFooterRightItem:last-child{
        margin: 0;
    }

    .wrapperFooter .wrapperFooterRightItem {
        width: 120px;
        justify-content: center;
    }

    .wrapperMiddleTopFooterLeft {
        padding-bottom: 5px;
    }


    .wrapperFooterRightItem:first-child {
        margin-top: 0;
    }

    .wrapperFooterRightItem:last-child {
        margin: 5px 0;
    }

    input[type=number] {
        text-align: center;
    }

}