.sideBar {
    background-color: #122A3B;
    width: 50px;
}

#sideBar.active {
    width: 250px;
}

.act {
    background-color: darkgrey;
    color: #000000;
}

.sideBarItem.move {
    justify-content: left;
}

.sideBarItemRight.show {
    display: block;
}

#logo.size {
    width: 100%;
    max-width: 200px;
}

.sideBarLogo {
    padding: 0 10px;
    height: 80px;
    border-bottom: 1px solid black;
    align-items: center;
}

.sideBarLogo img {
    width: 155px;
}

.sideBarItem {
    padding: 0 10px;
    border-bottom: 1px solid black;
    cursor: pointer;
    height: 65px;
    align-items: center;
    justify-content: center;
}

.sideBarItem:hover,
.sideBarItem:focus,
.sideBarItem:active {
    background-color: darkgrey;
    color: black;
    transition: .3s;
}

.sideBarItem:hover img {
    -o-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none
}

.sideBarItemLeft img {
    -o-animation: spin 10s linear infinite;
    -ms-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    -webkit-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
}

.sideBarItem img.spin {
    -o-animation: none;
    -ms-animation: none;
    -moz-animation: none;
    -webkit-animation: none;
    animation: none
}

.sideBarItemRight {
    padding: 0 10px;
    display: none;
}

.logout {
    background-color: #5683FE;
}

.logout:hover,
.logout:focus,
.logout:active {
    transition: .3s;
    color: #ffffff;
    background-color: chocolate;
}

@media screen and (max-width: 600px) {

    .sideBar {
        display: none;
    }

    #logo.size {
        width: 100%;
    }

    .sideBarItem.move {
        justify-content: center;
    }

    #sideBar.active {
        margin-top: 50px;
        width: 100%;
        display: block;
        position: fixed;
        height: 50%;
        overflow: auto;
        z-index: 9999;
    }

    .sideBarLogo {
        display: flex;
        justify-content: center;
        height: 80px;
    }

    .sideBarItem {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60px;
    }

    .sideBarItemRight {
        padding-top: 5px;
    }

    .sideBarItemLeft img {
        -o-animation: none;
        -ms-animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        animation: none;
    }

}
