.container {
    max-width: 1400px;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.mainArea {
    width: calc(100% - 50px);
    color: #000;
    position: relative;
}

#mainArea.add {
    width: calc(100% - 250px);
}

.mainHeader {
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.mainHeaderLeft button {
    background-color: #5683FE;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    color: #ffffff;
}

.mainHeaderLeft button:hover,
.mainHeaderLeft button:hover,
.mainHeaderLeft button:active {
    background-color: chocolate;
    transition: .3s;
}

.mainSelect {
    width: 100%;
    justify-content: flex-end;
    padding: 20px;
}

select {
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    background: none;
    outline: none;
}

select option[value="1"] {
    margin: 10px 0;
}

select option[value="2"] {
}

select option[value="3"] {
}

.mainContent {
    width: 100%;
    padding: 0 12px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mainContentLeftRow .mainContentRowItem:first-child,
.mainContentCenterRow .mainContentRowItem:first-child,
.mainContentRightRow .mainContentRowItem:first-child {
    margin-top: 0;
}

.mainContentLeftRow .mainContentRowItem:last-child,
.mainContentCenterRow .mainContentRowItem:last-child,
.mainContentRightRow .mainContentRowItem:last-child {
    margin-bottom: 20px;
}

.mainContentRowItem {
    background-color: darkgray;
}

.mainContentRowItem {
    flex: 1;
    background-color: #eeeeee;
    margin: 10px;
    border: 1px solid rgba(0,0,0,0.2);
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

.mainContentRowItem:hover,
.mainContentRowItem:focus,
.mainContentRowItem:active {
    background-color: darkgray;
    transition: .3s;
    color: #ffffff;
}

.mainContentRowItemRight {
    padding: 0 10px;
}

.overlayMainContent.overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 80px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
}

@media screen and (max-width: 600px) {

    .main {
        height: 100%;
    }

    .mainArea {
        width: 100%;
        margin-top: 50px;
    }

    #mainArea.add {
        width: 100%;
    }

    .overlayMainContent.overlay {
        height: 100%;
        top: 50px;
        left: 0;
        right: 0;
    }

    .mainSelect,
    .mainContent {
        justify-content: center;
    }

    .mainHeader {
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        width: 100%;
        height: 50px;
    }

    .mainContent {
        flex-direction: column;
    }

    .mainContentRowItem {
         justify-content: center;
         align-items: center;
         flex-direction: column;
    }

    .mainContentRowItemRight {
        padding-top: 5px;
    }

}